@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --FuentePrincipal: 'Poppins', 'Sans-serif';
    --Negro: #000000;
    --GrisOscuro: #00000093;
    --Blanco: #ffffff;
    --GrisClaro: #d3d0d042;
    --Gris: #353535;
    --Primario: #ffd342;
    --Secundario: #71c3a0;
    --Tercesario: #fab3dd;
    --Log-out: #ff4242;
    --Danger: #ff4242;
    --Accept: #47cf3a;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: var(--FuentePrincipal);
    margin: 0 auto;
    overflow: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 1rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--GrisOscuro);
}

p {
    color: var(--Negro);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 140rem;
}

.Contenido {
    position: absolute;
    width: calc(100% - 24rem);
    height: 100%;
    right: 0;
    background-color: var(--Blanco);
    transition: all 0.5s ease;
}

.Sidebar.active ~ .Contenido{
    width: calc(100% - 6rem);
}

/** HEADER **/
.Header {
    width: 100%;
    height: 6rem;
    background-color: var(--GrisClaro);
    display: flex;
    align-items: center;
}

.Content-Button-Menu {
    position: relative;
    top: 0;
    height: 3rem;
    width: 3rem;
}

.Button-Menu {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    animation: animate-MenuB 1.5s ease forwards;
    border: none;
}

.top-line{
    position: relative;
    width: 1.3rem;
    height: 0.38rem;
    margin-left: 0.4rem;
    background-color: var(--Negro);
    border-radius: 12px;
    transition: all 0.5s ease;
    transform: rotate(0deg);
    transform-origin: left;
}

.mid-line{
    position: relative;
    width: 3rem;
    height: 0.38rem;
    background-color: var(--Negro);
    border-radius: 12px;
    transition: all 0.5s ease;
    transform: rotate(0deg);
    margin-left: 0.1rem;
    z-index: 1;
    box-shadow: 0 0 0 1.2px var(--Blanco);
}

.bot-line{
    position: relative;
    width: 1.3rem;
    height: 0.38rem;
    background-color: var(--Negro);
    border-radius: 12px;
    margin-left: 1.5rem;
    transition: all 0.5s ease;
    transform: rotate(0deg);
    transform-origin: right;
}

.top-line.active {
    transform: rotate(45deg);
}

.mid-line.active {
    width: 2.6rem;
    transform: rotate(-45deg);
}

.bot-line.active {
    margin-left: 1rem;
    transform: rotate(45deg);
}

/** SIDEBAR **/
.Sidebar {
    position: fixed;
    height: 100vh;
    width: 24rem;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--Gris);
    transition: all 0.5s ease;
}

.Sidebar.active {
    width: 6rem;
}

.LogoSidebar {
    width: 100%;
    height: 6rem;
}

.LogoutSidebar {
    width: 100%;
    height: 6rem;
}

.MenuSidebar {
    width: 100%;
    height: calc(100% - 12rem);
}

.Menu-list{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Menu-list .li-option {
    list-style: none;
    height: 100%;
}

.Menu-list .li-option .option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.Sidebar.active .Menu-list .li-option .option {
    justify-content: center;
}

.Menu-list .li-option .option:hover {
    background-color: var(--GrisOscuro);
}

.option span {
    color: var(--Blanco);
    font-size: 2.6rem;
    margin-left: 20px;
}

.Sidebar.active .option span {
    margin-left: 0;
}

.option p {
    position: absolute;
    width: 12rem;
    color: var(--Blanco);
    font-size: 1.6rem;
    font-weight: 300;
    margin-left: 6rem;
    opacity: 1;
}

.Sidebar.active .option p {
    margin-left: 17.9rem;
    opacity: 0;
}

.option:hover span, .option:hover p {
    color: var(--Primario);
}

.option.active span, .option.active p {
    color: var(--Primario);
}

.log-out_US {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.Sidebar.active .log-out_US {
    justify-content: center;
}

.log-out_US:hover {
    background-color: var(--GrisOscuro);
}

.log-out_US span {
    color: var(--Blanco);
    font-size: 2.6rem;
    margin-left: 20px;
}

.log-out_US p {
    position: absolute;
    width: 12rem;
    color: var(--Blanco);
    font-size: 1.6rem;
    font-weight: 300;
    margin-left: 6rem;
    opacity: 1;
}

.Sidebar.active .log-out_US p {
    margin-left: 17.9rem;
    opacity: 0;
}

.Sidebar.active .log-out_US span {
    margin-left: 0;
}

.log-out_US:hover span, .log-out_US:hover p {
    color: var(--Log-out);
}

/** ADMIN **/
.Contenedor-TituloAdmin {
    width: 100%;
    display: flex;   
    align-items: center;
}

.Contenedor-TituloAdmin.t {
    width: 100%;
    display: flex;   
    align-items: center;
    justify-content: center;
}

.Contenedor-TituloAdmin.g {
    background-color: transparent;
}

.Contenedor-TituloAdmin.g {
    background-color: var(--Secundario);
}

.Contenedor-TituloAdmin.r {
    background-color: var(--Log-out);
}

.Contenedor-TituloAdmin.y {
    background-color: var(--Primario);
}

.TituloAdmin {
    font-weight: 400;
    margin-left: 0.5rem;
    color: var(--Blanco);
}

.TituloAdmin.i {
    color: var(--Negro);
}

/* CREATE CUENTA */
.FormularioCreate {
    min-height: 47rem;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 2rem;
    justify-items: center;
    padding-bottom: 2rem;
}

@media (min-width: 765px) {
    .FormularioCreate {
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5rem;
        row-gap: 5rem;
    }
}

.Contenido-Input_CC {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Contenido-Input_CC div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem;
}

.Contenido-Input_CC div label {
    font-weight: 600;
    font-size: 1.8rem;
}

.Contenido-Input_CC div input {
    width: 100%;
    font-size: 1.8rem;
}

.titulo-OptionCC {
    font-size: 2rem;
    font-weight: 400;
    background-color: var(--Gris);
    color: var(--Blanco);
}

.Contenido-Select_CC {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Contenido-Select_CC div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem;
}

.Contenido-Select_CC div label {
    font-weight: 600;
    font-size: 1.8rem;
}

.Contenido-Select_CC div select {
    width: 100%;
    font-size: 1.8rem;
}

.info-CC {
    border-top: 0.5px solid var(--Gris);
    background-color: var(--GrisClaro);
    font-weight: 400;
    font-size: 1.6rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}

.submit-CC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    text-align: justify;
}

@media (min-width: 765px) {
    .submit-CC {
        gap: 0;
    }
}

.submit-CC div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-CC p {
    font-size: 1.6rem;
    font-weight: 300;
}

.btn-CC {
    height: 5rem;
    width: 100%;
    background-color: var(--Gris);
    color: var(--Blanco);
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
}

.btn-CC:hover {
    background-color: #272727;
    color: var(--Primario);
    cursor: pointer;
}

/* App (User) */
.Contenedor-Cuentas {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* App (Cuenta)*/
.Cuenta-REG {
    background-color: var(--GrisClaro);
    color: var(--Gris);
}

.Cuenta-REG:hover {
    background-color: var(--GrisOscuro);
}


/** Elementos graficos **/
.Contenedor-Errores {
    display: grid;
    margin-top: 2rem;
    margin-left: 2rem;
}

.red {
    color: var(--Danger);
}

.green {
    color: var(--Accept);
}

.Alerta {
    display: flex;
    align-items: stretch;
    font-size: 1.6rem;
    font-weight: bold;
}
