@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --FuentePrincipal: 'Poppins', 'Sans-serif';
    --Negro: #000000;
    --GrisOscuro: #00000093;
    --Blanco: #ffffff;
    --GrisClaro: #5f5f5f;
    --Gris: #353535;
    --Primario: #ffd342;
    --Secundario: #71c3a0;
    --Tercesario: #fab3dd;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: var(--FuentePrincipal);
    margin: 0 auto;
    overflow: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 1rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--GrisOscuro);
}

p {
    color: var(--Negro);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

main {
    width: 100vw;
    max-width: 140rem;
}

/* HEADER */
.Header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 140rem;
    background-color: var(--Blanco);
}

.BarraNavegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: transparent;
}

.BarraNavegacion h4 {
    color: var(--Negro);
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 2rem;
}

.BarraNavegacion nav {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

.BarraNavegacion nav a {
    color: var(--Negro);
    font-size: 1.8rem;
    font-weight: 600;
}

.BarraNavegacion nav a:hover {
    color: var(--Primario);
}

.BarraNavegacion nav .SLform {
    padding: 0 0.4rem;
    border: transparent;
    border-radius: 8px;
    background-color: var(--Gris);
    color: var(--Blanco);
}

.BarraNavegacion nav .SLform:hover:nth-child(even) {
    color: var(--Blanco);
    background-color: var(--Secundario);
}

.BarraNavegacion nav .SLform:hover:nth-child(odd) {
    color: var(--Blanco);
    background-color: var(--Tercesario);
}

.ContenedorHeader {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    overflow: hidden;
}

@media (min-width: 1065px) {
    .ContenedorHeader {
        grid-template-columns: 1fr 1fr;
    }
}

.InformacionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

@media (min-width: 610px) {
    .InformacionHeader {
        margin-bottom: 0;
    }
}

.InformacionHeader h2 {
    font-size: 2.8rem;
    margin: 20px 30px 0 30px;
}

.InformacionHeader p {
    margin: 20px 30px 0 30px;
    text-align: justify;
}

.ImageHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center
}

@media (min-width: 1065px) {
    .ImageHeader{
        grid-template-columns: 1fr 1fr;
    }
}

.ImageHeader img{
    width: 20rem;
    display: none;
}

@media (min-width: 610px) {
    .ImageHeader img{
        display: flex;
    }
}

.ImageHeader img:nth-child(3) {
    grid-column: 3/4;
}

@media (min-width: 1065px) {
    .ImageHeader img:nth-child(3) {
        grid-column: 1/3;
    }
}

/** SECCION CUENTAS **/
.SeccionCuentas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Gris);
    width: 100%;
    min-height: 620px;
}

.ContenedorCards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 1065px) {
    .ContenedorCards {
        grid-template-columns: repeat(3, 1fr);
        height: 400px;
    }
}

.TituloCuentas {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--Blanco);
    margin: 30px 0;
}

.Card {
    position: relative;
    width: 300px;
    height: 200px;
    transition: all 1s ease;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.Card:hover {
    height: 400px;
}

.Card .Cont-Card {
    width: 300px;
    height: 200px;
    background-color: var(--Blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card .PortadaCard {
    position: relative;
    background-color: var(--GrisClaro);
    z-index: 2;
}

.Card:hover .PortadaCard{
    background-color: var(--Secundario);
}

.Card:hover:nth-child(2) .PortadaCard {
    background-color: var(--Tercesario);
}

.Card:hover:nth-child(3) .PortadaCard {
    background-color: var(--Primario);
}

.Card:hover .PortadaCard p, .Card:hover .PortadaCard span {
    color: var(--Blanco);
}


.Card:nth-last-child(1) {
    margin-bottom: 60px;
}

@media (min-width: 1065px) {
    .Card:nth-last-child(1) {
        margin-bottom: 0;
    }
}

.Card .InformacionCard {
    position: absolute;
    background-color: var(--Blanco);
    z-index: 1;
    top: 0;
    transition: top 1s ease;
}

.Card:hover .InformacionCard {
    top: 200px;
}

.PortadaCard p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--GrisOscuro);
}

.PortadaCard .material-icons{
    font-size: 8rem;
    color: var(--GrisOscuro);
}

/** SECCION INFORMACION **/
.SeccionInformacion {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--Blanco);
    width: 100%;
}

.TituloInformacion {
    font-size: 2.8rem;
    font-weight: 300;
    color: var(--Negro);
    margin-top: 30px;
    margin-left: 30px;
}

.ContenedorInformacion {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

@media (min-width: 1065px) {
    .ContenedorInformacion {
        grid-template-columns: 1fr 1fr;
    }
}

.InfoBanco {
    display: flex;
    flex-direction: column;
}

.InfoBanco .SubtituloBanco {
    font-size: 2.2rem;
    margin-left: 30px;
}

.InfoBanco p {
    margin: 20px 30px 0 30px;
    text-align: justify;
}

.LogoBanco {
    width: 100%;
}

.LogoBanco svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.LogoBanco svg text {
    transform: matrix(1, 0, 0, 1, 525, 525);
}

.LogoBanco .Titulo {
    fill: transparent;
    font-size: 25rem;
    stroke: var(--Negro);
    stroke-width: 0.3rem;
    stroke-miterlimit: 10;
    font-family:'Poppins';
    user-select: none;
    transition: fill 1.5s ease;
    animation: animate-titulo 5s ease forwards;
    stroke-dashoffset: 1600;
    stroke-dasharray: 1600;
}

@keyframes animate-titulo {
    0%{
        stroke-dashoffset: 1600;
    }

    100% {
        stroke-dashoffset: 0;
        fill: var(--Negro);
    }
}

/** SECCION SERVICIOS **/
.SeccionServicios {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--Blanco);
    width: 100%;
}

.TituloServicios {
    font-size: 2.8rem;
    font-weight: 300;
    color: var(--Negro);
    margin-top: 30px;
    margin-left: 30px;
}

.ContenedorServicios {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 30px;
}

@media (min-width: 765px) {
    .ContenedorServicios {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1065px) {
    .ContenedorServicios {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

.Cont-Servicio {
    display: flex;
    justify-content: initial;
    align-items: center;
    gap: 15px;
    padding: 5px;
    margin-top: 30px;
}

@media (min-width: 765px) {
    .Cont-Servicio {
        justify-content: center;
    }
}

.Cont-Servicio:nth-child(odd) {
    border-left: 7px solid var(--Secundario);
}

.Cont-Servicio:nth-child(even) {
    border-left: 7px solid var(--Primario);
}

.Cont-Servicio:nth-child(1), .Cont-Servicio:nth-child(6) {
    border-left: 7px solid var(--Tercesario);
}


.Cont-Servicio span {
    font-size: 5rem;
}

.Cont-Servicio:nth-child(odd) span{
    color: var(--Secundario);
}

.Cont-Servicio:nth-child(even) span{
    color: var(--Primario);
}

.Cont-Servicio:nth-child(1) span, .Cont-Servicio:nth-child(6) span{
    color: var(--Tercesario);
}

.Cont-Servicio p {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: justify;
}

/** FOOTER **/
.Footer {
    width: 100%;
    background-color: var(--Gris);
}

.NavegacionFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.LogoFooter {
    color: var(--Blanco);
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 5px;
}

.Nav-Footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 610px) {
    .Nav-Footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1065px) {
    .Nav-Footer {
        grid-template-columns: repeat(4, 1fr);
    }
}

.MenuFooter {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.MenuFooter a{
    color: var(--Blanco);
    font-size: 1.6rem;
    font-weight: 200;
    margin-left: 2rem;
}

.MenuFooter a:hover {
    color: var(--Primario);
}

.LinksFooter {
    color: var(--Blanco);
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2rem;
}

.RedesFooter {
    display: flex;
    flex-direction: column;
}

.RedesFooter div {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-left: 2rem;
}

.RedesFooter a i {
    font-size: 2.5rem;
    color: var(--Blanco);
}

.RedesFooter a i:hover {
    color: var(--Primario);
}

.CopyrightFooter {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--GrisClaro);
}

.CopyrightFooter p {
    font-size: 1.8rem;
    color: var(--GrisClaro);
}

/** SOBRE NOSOTROS (Pagina externa) **/
.ContenedorSobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.ContenedorSobreNosotros .LogoBanco {
    position: relative;
    border: 1px solid var(--Negro);
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
}

@media (min-width: 765px) {
    .ContenedorSobreNosotros .LogoBanco {
        width: 76.5rem;
    }   
}

.ContenedorSobreNosotros .LogoBanco p{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: justify;
}

.ContenedorSobreNosotros svg {
    position: absolute;
    opacity: 0.1;
    top: 0;
}

.ContenedorSobreNosotros svg .Titulo {
    font-size: 30rem;
}

.ContenedorSobreNosotros svg text {
    transform: matrix(1, 0, 0, 1, 350, 525);
}

/** FORMULARIO **/
.ContenedorFormulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 30px auto;
    width: 98%;
}

@media (min-width: 430px) {
    .ContenedorFormulario {
        width: 420px;
    }
}

.ContenedorFormulario .TituloLogin {
    grid-column: 1/3;
}

.ContenedorFormulario .Return {
    display: flex;
    justify-content: initial;
    grid-column: 1/2;
    width: 100%;
    margin-top: 10px;

}

.ContenedorFormulario .Return a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Negro);
}

.ContenedorFormulario .Return a:hover{
    color: var(--Primario);
}

.Formulario {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    background-color: white;
    border: none;
    border-radius: 12px;
    grid-column: 1/3;
}

.FormularioLogin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.FormularioLogin div {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
}

.FormularioLogin label {
    color: var(--Negro);
    font-size: 1.6rem;
    font-weight: 500;
}

.FormularioLogin .LabelText {
    border: none;
    border-bottom: 1px solid var(--Negro);
    background-color: transparent;
}

.FormularioLogin .InputSubmit {
    grid-column: 2/3;
    background-color: var(--Gris);
    color: var(--Blanco);
    font-size: 1.8rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}

.FormularioLogin .InputSubmit:hover {
    background-color: var(--Primario);
    cursor: pointer;
}

.Formulario .Signup {
    display: block;
    margin-top: 25px;
}

.Formulario .Signup p {
    color: var(--Negro);
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: -5px;
}

.Formulario .Signup a{
    color: var(--Negro);
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 300;
}

.Formulario .Signup a:hover {
    color: var(--Primario);
}